<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.EduConnectionString" connectionString="Data Source=192.168.58.3;Initial Catalog=Edu;User ID=sa;Password=cddfiylj72!"
            providerName="System.Data.SqlClient" />
        <add name="BLL.Properties.Settings.EduConnectionString1" connectionString="Data Source=60.12.214.181;Initial Catalog=Edu;User ID=sa;Password=nbyzzjdb5020!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
